*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

nav{
    background: #1b1b1b;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

nav ul li{
    display: inline-flex;
    margin: 0 10px;
}

nav ul li a{
    color: #f2f2f2;
    font-size: 23px;
    display: block;
    padding: 6px 3px;
    text-decoration: none;
    overflow: hidden;
}

ul li a .menu .f-word,
ul li a .menu .s-word{
    display: inline-block;
    position: relative;
    transition: transform 0.3s;
}

ul li a .menu .s-word{
    margin-left: -4px;
}

ul li a .menu .f-word:before,
ul li a .menu .s-word:before{
    position: absolute;
    content: attr(data-hover);
}

ul li a .menu .f-word:before{
    color: cyan;
    top: 105%;
}

ul li a .menu .s-word:before{
    color: cyan;
    bottom: 105%;
}

a:hover .f-word{
    transform: translate3d(0,-105%,0);
}

a:hover .s-word{
    transform: translate3d(0,105%,0);
}